body, html {
    width: 98vw;
    height: 98vh;
}
#clock{
    font-size: 20pt;
    display: flex;
}
nav {
    width: 100%;
    height: 100px;
    color: black;
    background-color: white;
}
.main {
    height: 1600px;
}
footer {
    background-color: black;
    color: white;
    height: 300px;
}